/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: url("../img/local.png") top center no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(34, 34, 34, 0.8);
}

@media (min-width: 1366px) {
  body {
    background-attachment: fixed;
  }
}

a {
  color: #00d6c0;
  text-decoration: none;
}

a:hover {
  color: #008d7f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#main {
  position: relative;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #00d6c0;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ff2929;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
main {
  height: 100vh;
}
#header {
  position: relative;
  width: 100%;
  padding: 100px 0px 240px 0px;
  /* countdown */
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}

#header .countdown {
  margin-bottom: 80px;
}

#header .countdown div {
  text-align: center;
  margin: 10px;
  width: 100px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.12);
  border-top: 5px solid #00d6c0;
  border-radius: 0px 0px 10px 10px;
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 15px;
}

#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  #header {
    padding: 100px 0px 0px;
  }
}
@media (max-width: 575px) {
  #header h1 {
    font-size: 40px;
  }
  #header .countdown div {
    width: 140px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /* background: rgba(19, 19, 19, 0.4); */
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #00d6c0;
}

@media (max-width: 575px) {
  main {
    height: auto;
  }
  #footer {
    position: relative;
  }
}
